<% data.projects.each do |project| %>
  <div class="card-project">
    <%= image_tag  project.main, class: "project-img"%>
    <div class="project-hover">
      <h2 class="project-title"><%= project.name %></h2>
      <p class="project-button" data-bs-toggle="modal" data-bs-target="#exampleModal<%=project.id%>">
        More Details   <i class="fa-solid fa-circle-info"></i>
      </p>
    </div>
  </div>
  <div class="modal fade" id="exampleModal<%=project.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><%= project.name %></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="carouselExampleControls<%=project.id%>" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% project.images.each_with_index do |pic,i|%>
                <div class="carousel-item <%= "active " if i==0 %>">
                  <%= image_tag  pic, class: "d-block w-100 "%>
                </div>
              <%end%>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls<%=project.id%>" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls<%=project.id%>" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="card-infos mt-3">
            <p class="text-muted"><%= project.description %></p>
            <div class="project-tags ">
              <% project.tags.each do |tag| %>
                <i class="<%= tag %>"></i>
              <% end %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="project-buttons ">
            <% if project.url %>
              <% link_to project.url, class: 'external-link', target: '_blank' do %>
                <div class="btn-flat">
                  <p><i class="fas fa-external-link-alt"></i> Website</p>
                </div>
              <% end %>
            <% end %>
            <% if project.source %>
              <% link_to project.source, class: 'external-link', target: '_blank' do %>
                <div class="btn-flat">
                  <p><i class="devicon-github-original"></i> Source Code</p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
