 
<div id="carouselExampleControls<%=project.id%>" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% project.images.each_with_index do |pic,i|%>
      <div class="carousel-item <%= "active " if i==0 %>">
        <%= image_tag  pic, class: "d-block w-100 "%>
      </div>
    <%end%>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls<%=project.id%>" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls<%=project.id%>" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
