<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="skills">
        <h2 class=project-header> Skills</h2>
        <div class="skill-cards">
          <div class="skill-card">
            <p>Frontend Development</p>
            <div class="skill-description">
              <% data.frontend.each do |skill| %>
                <p><%= skill.name %> <i class="<%= skill.tag %>"></i></p>
              <% end %>
            </div>
          </div>
          <div class="skill-card">
            <p>Backend Development</p>
            <div class="skill-description">
              <% data.backend.each do |skill| %>
                <p><%= skill.name %> <i class="<%= skill.tag %>"></i></p>
              <% end %>
            </div>
          </div>
          <div class="skill-card">
            <p>Fullstack Development</p>
            <div class="skill-description">
              <% data.fullstack.each do |skill| %>
                <p><%= skill.name %> <i class="<%= skill.tag %>"></i></p>
              <% end %>
            </div>
          </div>
          <div class="skill-card">
            <p>Product Development Tools</p>
            <div class="skill-description">
              <% data.tools.each do |skill| %>
                <p><%= skill.name %> <i class="<%= skill.tag %>"></i></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
